$primary: #085a03;
$white: #ffffff;
$dark: #09101d;
$black: #000000;
$dark-gray: #394452;
$gray: #999999;
$border-dark: #858c94;
$light: #f4f6f9;
$danger: #d71a1a;

// COLORS
$colors: (
  primary: $primary,
  'white': $white,
  'dark': $dark,
  'black': $black,
  'gray': $gray,
  'dark-gray': $dark-gray,
  'border-dark': $border-dark,
  light: $light,
  danger: $danger,
);

@each $key, $val in $colors {
  .bg-#{$key} {
    background-color: $val;
  }

  .text-#{$key} {
    color: $val;
  }

  .border-#{$key} {
    border: solid 1px $val;
  }

  .border-right-#{$key} {
    border-right: solid 1px $val;
  }
}

.bg-transparent {
  background-color: transparent;
}
