.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;

  .content {
    background-color: white;
    padding: 24px 32px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.22);
    border-radius: 16px;
    width: 40vw;
    overflow: auto;
    margin-top: 10vh;
    height: fit-content;
    max-height: 80vh;

    .title {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: -0.02em;
      color: $black;
    }

    @media (max-width: 900px) {
      width: 90vw;
    }
  }
}

.toast {
  position: fixed;
  margin: 30px;
  z-index: 10;
  border-radius: 4px;
  box-sizing: border-box;
}

.top-left {
  top: 0;
  left: 0;
}

.top-center {
  top: 0;
  left: 50%;
  transform: translateX(-62%);
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-center {
  bottom: 0;
  left: 50%;
  transform: translateX(-62%);
}

.bottom-left {
  bottom: 0;
  right: 0;
}