@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'colors';
@import 'input';
@import 'variables';
@import 'layout';
@import 'modal';
@import 'progress';
@import 'animations';
@import 'tables';

.mdn-title {
  width: 30%;

  @media (max-width: 1000px) {
    width: 50%;
  }

  @media (max-width: 700px) {
    width: 80%;
  }
}

.hero {
  height: 265px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/home-bg.png');
  background-color: rgba(8, 90, 3, 0.5);
  background-blend-mode: multiply;
}
